@import "../../theme/generalStyle.scss";


#buttonStyle{
    // align-self: flex-end;
    // display: flex;
    // margin: 0;
    // padding: 0;

    width: 180px;
    height: 37px;
    // justify-content: center;
    // align-items: center;

    display: block;
    background-image: $searchBar-background-color;
    border: 2px solid $searchBar-border-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: $main-color;
    cursor: pointer;
    font-family: $main-fontfamily;
    font-size: $small-fontsize;
    font-weight: bolder;
    // min-width: 150px;s
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

    box-shadow: inset $buttons-shadow 0 -4px 0 0;

    color: $main-color;
    font-family: $main-fontfamily;
    font-size: $small-fontsize;
    

    // #buttonText{
    //     color: $main-color;
    //     font-family: $main-fontfamily;
    //     font-size: $medium-fontsize;
    //     // justify-content: center;
    //     // justify-items: center;
    //     // align-items: center;
    //     // align-content: center;

    // }    
}

// /* CSS */
// .button-15 {
//     background-image: $searchBar-background-color;
//     border: 2px solid $searchBar-border-color;
//     border-radius: 5px;
//     box-sizing: border-box;
//     color: $main-color;
//     cursor: pointer;
//     display: block;
//     font-family: $main-fontfamily;
//     font-size: $small-fontsize;
//     font-weight: bolder;
    
//     min-width: 50px;
//     user-select: none;
//     -webkit-user-select: none;
//     touch-action: manipulation;
//     white-space: nowrap;

//     box-shadow: inset $buttons-shadow 0 -4px 0 0;
//     // direction: ltr;
//     // font-weight: 400;
//     // letter-spacing: -.022em;
//     // line-height: 1.47059;
//     // overflow: visible;
//     //   padding: 4px 15px;
//     // text-align: center;
//     //   vertical-align: baseline;

// }

// .button-15:disabled {
//   cursor: default;
//   opacity: .3;
// }

#buttonStyle:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: $searchBar-border-color;
  color:white;
  text-decoration: none;
}

// .button-15:active {
//     background-image: linear-gradient(#3D94D9, #0067B9);
//     // background-color: red;
//     border-color: $searchBar-border-color;
//     color:white;
//     outline: none;
// }

#buttonStyle:focus {
//   box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    background-image: linear-gradient(#51A9EE, #147BCD);;
    color:white;

     outline: none;
}
