@import "../../theme/generalStyle.scss";

#mainContainerShowComponent{
    width: '100%';
    height: auto;
    margin:12px 24px 12px 0;
    display: flex;
    flex-flow: column nowrap;
}

#containerComponentCard{
    display: flex;
    flex-flow: row wrap;
}

