@import "../../theme/generalStyle.scss";

#mainContainerShowComponent{
    width: '100%';
    height: auto;
    margin:12px 24px 12px 0;
    display: flex;
    flex-flow: column nowrap;
}

#containerComponentCard{
    display: flex;
    flex-flow: row wrap;
}

//

.switch-enter {
    opacity: 0.01;
}
.switch-enter-active {
    opacity: 1.0;
    transition: opacity 300ms, transform 300ms;

}
.switch-exit {
    opacity: 1.0;
}
.switch-exit-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;

}

