//Para pagina en general

$main-fontfamily: 'PT Sans caption',Arial, sans-serif;
$main-color: black;
$secondary-color: #817e7ea2;
$tertiary-color: #7a7a7aa2;
$small-fontsize: 15px;
$medium-fontsize: 26px;
$large-fontsize: 40px;

$main-background-color: #f5f5f5;
$searchBar-background-color: #cec8c8a2;
$searchBar-border-color: $tertiary-color;
$searchBar-input-background-color:#dfd9d9a2;

$buttons-shadow: #c2bebea2;
 
//Solo titulos