@import "../../theme/generalStyle.scss";

#showComponentCard{
    // display: flex;
    // flex-flow: row nowrap;
    width: 260px;
    height: 160px;
    border: 2px solid black;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

#showComponentTitle{
    display: flex;
    flex-flow: row nowrap;
}


#showComponentTitle{
    color: $main-color;
    font-family: $main-fontfamily;
    font-size: $medium-fontsize;
    margin:0 0 15px 0;
    padding: 0;
}

#showComponentTextCountryEmoji{
    margin:0;
    padding: 0;
    color: $main-color;
    font-family: $main-fontfamily;
    font-size: $medium-fontsize;
}

#showComponentTextCountryName{
    margin:0;
    padding: 0;
    color: $main-color;
    font-family: $main-fontfamily;
    font-size: $medium-fontsize;
}

#showComponentTextCountryBody{
    margin:13px 0 0 0;
    padding: 0;
    color: $secondary-color;
    font-family: $main-fontfamily;
    font-size: $small-fontsize;
    font-weight: bold;
}