@import "../../theme/generalStyle.scss";

#searchBarContainerStyle{
    display: flex;
    flex-flow: column nowrap;

    #searchBarTextTitleStyle{
        color: $main-color;
        font-family: $main-fontfamily;
        font-size: $large-fontsize;
        margin: 5% 0 20px 0;
        font-weight: bold;
    }
    
    #searchBarTextStyle{
        color: $secondary-color;
        font-family: $main-fontfamily;
        font-size: $small-fontsize;
        font-weight: bold;
        margin: 0 0 25px 0;
    }


    #searchContainer{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-width: 2px;
        border-radius: 20px;
        border-style: solid;
        border-color: $searchBar-border-color;
        background-color: $searchBar-background-color;
    
        .searchComponents{
            height: 20px;
            padding:5px 5px 5px 10px;
        }
    
        #searchComponentInput{
            font-family: $main-fontfamily;
            color: $tertiary-color;
            font-weight: bold;
            margin: 0 0 0 6%;
            background-color: $searchBar-input-background-color;
            width: 100%;
            border:none;
            outline-width: 0;
            border-radius: 20px;
        }
    }

    #groupContainer{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
        #buttonSelectionText{
            color: $main-color;
            font-family: $main-fontfamily;
            font-size: $medium-fontsize;
        }
        
        #buttonSelectionContainer{
            display: flex;
            flex-flow: row wrap;
            // justify-items: center;
            // justify-content: space-between;
            // align-items: center;
            // align-content: center;
            // align-self: center;
        }
    }
}









